.post {
  display: flex;
  flex-direction: row;
  width: fit-content;
}
img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}
.post-info {
  display: flex;
  flex-direction: column;
  width: 340px;
  row-gap: 8px;
}
p {
  font-family: arial;
  margin: 0px;
}
.name {
  display: flex;
  column-gap: 10px;
}
.display-name {
  font-weight: bold ;
}
.user-name {
  color: gray;
}
.preview {
  display: flex;
  flex-direction: row;
  border: 2px solid lightgray;
  border-radius: 10px;
  overflow: hidden;
}
.thumbnail {
  width: 100px;
  height: 100px;
  background-color: lightgray;
}
.video-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16px 10px;
  row-gap: 5px;
}
a {
  text-decoration: none;
  color: gray;
  font-family: arial;
}