input {
  width: 400px;
  border-radius: 10px;
  padding: 14px;
  font-size: 14px;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 0px lightgray;
  color: gray;
}
input:focus {
  outline: none;
  color: black;
}