.container {
  position: relative;
  width: fit-content;
}
img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
p {
  font-family: arial;
  background-color: black;
  color: white;
  position: absolute;
  top: 10px;
  right: 0px;
  padding: 4px 6px;
  font-size: small;
}